.container{
    width: 100%;
    height: 10vh;
    background-color: rgba(64, 113, 236, 0.991);
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
span{
    padding-left: 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
}

.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-item {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
}

.nav-item i {
    margin-right: 5px;
}

.nav-item:hover {
    text-decoration: underline;
}
